body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
    background-color: white;
    color: #333;
}

footer {
    background-color: #35424a;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
}
